"@bit:registry" "https://node.bit.dev:_password=Vfrc200018bit:username=sadmammoth:email=lo.ma200018@gmail.com:always-auth=true"
"@sadmammoth:registry" "https://npm.pkg.github.com/:_authToken=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"