@import './variables.scss';
@import './mixins.scss';

.form-textarea {
  resize: none;

  @include input;

  &.placeholdered {
    color: $muted;
  }
}

.form-control {
  @include input;
}

.form-select {
  position: relative;
  .select-header {
    @include input;
    .form-spoiler {
      position: absolute;
      right: 3%;
    }
  }

  .select-list {
    @include input;
    margin-top: 1px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
  }

  .option {
    display: flex;
    justify-items: flex-start;

    & :nth-child(n + 2) {
      margin-left: 5px;
    }
  }

  .option.disabled {
    border: $border-width solid $muted;
    color: $muted;
    padding: 3%;
  }

  .option.active {
    color: $highlight;
    background-color: $muted;
    width: calc(106% - #{$border-width} * 2);
    margin-left: calc(#{$border-width} - 3%);
    box-sizing: border-box;
    padding: 3%;

    &:first-child {
      margin-top: calc(#{$border-width} - 3%);
      margin-bottom: calc(#{$border-width} - 3%);
    }
  }

  &.placeholdered > .select-header {
    color: $muted;
  }
}

.form-checkbox {
  @include checkbox;
}

.form-radio {
  @include radiobutton;
}

.form-toggle {
  @include toggle;
}

.form-spoiler {
  @include spoiler;
}
