@import './variables.scss';
@import './mixins.scss';

.form-textarea {
  resize: none;

  @include input;

  &.placeholdered {
    color: $muted;
  }
}

.form-control {
  @include input;
}

.form-select {
  @include select;
}

.form-checkbox {
  @include checkbox;
}

.form-radio {
  @include radiobutton;
}

.form-toggle {
  @include toggle;
}

.form-spoiler {
  @include spoiler;
}

.form-number {
  @include number;
}

.form-slider {
  @include slider;
}

.form-range {
  @include range;
}

.markdown-text {
  @include markdown;
}

.menu {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style-type: none;
}

.invalid {
  border-color: red;
}

.group {
  .group-title {
    padding: 0;
    margin: 0;
  }
  padding: 5%;
  width: 110%;
  margin-left: -5%;
  border: 1px solid $highlight;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.tag {
  border-radius: 20px;
  border: $border-width solid $muted;
  padding: 5px;
  .remove-button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    margin-left: 5px;
  }
  .remove-button::before {
    content: 'x';
    cursor: pointer;
  }
}

.select-header {
  position: relative;
  z-index: 2;
}

.select-list {
  position: relative;
  z-index: 3;
}

.popup-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.tag-stack {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  & > * {
    margin: 2px;
  }
}

.select-placeholder {
  cursor: pointer;
}

.show_password-checkbox {
  &::before {
    content: 'show';
    border: 0;
    margin: 0;
    padding-left: 5px;
    background: none;
  }
  &:checked::before {
    content: 'hide';
  }
  &:checked::after {
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
  }
}

.file {
  border: 1px solid $highlight;
  display: flex;
  padding: 5px;
  position: relative;
}

.image-file {
  display: block;
  width: 200px;
  border: 1px solid $highlight;
  padding: 5px;
  box-sizing: border-box;
}

.image-caption {
  display: flex;
  padding-top: 5px;
  position: relative;
}

.file_name {
  font-weight: bold;
  margin: 0;
  margin-right: 5px;
  text-overflow: ellipsis;
  width: 100px;
}
.file_size {
  margin: 0;
  margin-right: 5px;
}
.close_button {
  background: 0;
  border: none;
  outline: none;
  height: 5px;
  width: 5px;

  color: black;
  cursor: pointer;
  position: absolute;
  right: 5px;
}

.file_input {
  display: none;
}

.file_label {
  display: flex;
  max-height: 100px;
  overflow-y: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  & .button {
    display: inline-block;
    border: 1px solid $highlight;
    padding: 6px 12px;
    cursor: pointer;
  }

  & > file_input:not([value='']) {
    display: none;
  }
}

.form-image {
  .image {
    height: 200px;
    width: 200px;
    object-fit: contain;
    border: 2px;
    margin-right: 5px;
  }
  .file_label {
    overflow-y: initial;
    max-height: none;
    max-width: 700px;
  }
  .selected-images {
    overflow-x: auto;
    flex-direction: row;
    display: flex;
  }
}
