@import './variables.scss';

@mixin input {
  background-color: $bg;
  border: $border-width solid $common;
  border-radius: $border-radius;
  color: $common;
  outline-color: $highlight;
  padding: 2%;

  &::-webkit-input-placeholder {
    color: $muted;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $common;
    width: 5px;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
}

@mixin checkbox {
  appearance: none;
  outline: none;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin-bottom: -3px;
    border: $border-width solid $common;
    border-radius: $border-radius;
    background-color: none;
  }
  &:checked::after {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 8px;
    height: 8px;
    margin-bottom: -3px;
    border-radius: 1px;
    background-color: $highlight;
  }
}

@mixin radiobutton {
  appearance: none;
  outline: none;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border: $border-width solid $common;
    border-radius: 100%;
    background-color: none;
  }

  &:checked::after {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: $highlight;
  }
}

@mixin toggle {
  appearance: none;
  outline: none;
  position: relative;
  margin-bottom: -2px;

  &::before {
    content: '';
    display: block;
    width: 24px;
    height: 12px;
    border: $border-width solid $common;
    border-radius: 10px;
    background-color: none;
  }

  &:checked::before {
    border: $border-width solid $highlight;
    background-color: $muted;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: unset;
    left: calc(#{$border-width} + 2px);
    top: calc(#{$border-width} + 2px);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: $common;
  }
  &:checked::after {
    content: '';
    left: unset;
    right: calc(#{$border-width} + 2px);
    background-color: $highlight;
  }
}

@mixin spoiler {
  appearance: none;
  outline: none;
  position: relative;
  margin-bottom: -2px;

  &::before {
    content: '\25BC';
  }

  &:checked::before {
    content: '\25B2';
  }
}
