@import './variables.scss';

@mixin input {
  background-color: $bg;
  border: $border-width solid $common;
  border-radius: $border-radius;
  color: $common;
  outline-color: $highlight;
  padding: 2%;

  &::-webkit-input-placeholder {
    color: $muted;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $common;
    width: 5px;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
}

@mixin checkbox {
  appearance: none;
  outline: none;
  position: relative;
  padding: none;
  width: 10px;
  height: 10px;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 1px;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border: $border-width solid $common;
    border-radius: $border-radius;
    background-color: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &:checked::after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $highlight;
    border: $border-width solid $common;
    border-radius: $border-radius;
  }
}

@mixin radiobutton {
  @include checkbox();

  &::before {
    border-radius: 100%;
  }
  &:checked::after {
    border-radius: 100%;
  }
}

@mixin toggle {
  appearance: none;
  outline: none;
  position: relative;
  margin: 0;
  margin-right: 10px;
  margin-bottom: -2px;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    width: 24px;
    height: 12px;
    border: $border-width solid $common;
    border-radius: 10px;
    background-color: none;
  }

  &:checked::before {
    border: $border-width solid $highlight;
    background-color: $muted;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: unset;
    left: calc(#{$border-width} + 2px);
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: $common;
  }
  &:checked::after {
    content: '';
    left: unset;
    right: calc(#{$border-width} + 2px);
    background-color: $highlight;
  }
}

@mixin spoiler {
  appearance: none;
  outline: none;
  position: relative;
  margin: 0;
  margin-right: 5px;
  margin-bottom: -2px;
  cursor: pointer;

  &::before {
    content: '\25BC';
  }

  &:checked::before {
    content: '\25B2';
  }
}

.bold {
  font-weight: bold;
}

pre {
  margin: 0;
}

@mixin select {
  position: relative;
  .select-header {
    @include input;

    .select-label {
      background: none;
      border: 0;

      &.disabled,
      &.disabled:active {
        color: $muted;
      }
    }

    .form-spoiler {
      position: absolute;
      right: 3%;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .select-list {
    @include input;
    margin-top: 1px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;

    &.scroll {
      max-height: 100px;
      overflow-y: auto;
    }
  }

  .option {
    display: flex;
    justify-items: flex-start;
    cursor: pointer;

    & :nth-child(n + 2) {
      margin-left: 5px;
    }

    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .search-option {
    & :nth-child(n + 2) {
      margin-left: 0;
    }
  }

  .option.disabled {
    border: $border-width solid $muted;
    color: $muted;
    padding: 3%;
    cursor: auto;
  }

  .option.active {
    color: $highlight;
    background-color: $muted;
    padding: 3%;
    cursor: auto;

    &:first-child {
      margin-top: calc(#{$border-width} - 3%);
      margin-bottom: calc(#{$border-width} - 3%);
    }
  }

  &.placeholdered > .select-header {
    color: $muted;
  }
}

@mixin number {
  position: relative;
  input {
    width: 100%;
  }
  &-minus,
  &-plus {
    position: absolute;
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    cursor: pointer;
  }

  &-plus {
    font-size: 18px;
    width: 20px;
    text-align: center;
    line-height: 0.1;
    height: 8px;
    top: 0px;
    right: -4px;
    margin: 0;
  }

  &-minus {
    font-size: 18px;
    width: 20px;
    height: 8px;
    text-align: center;
    line-height: 0.1;
    bottom: 0px;
    right: -4px;
    margin: 0;
  }
}

@mixin slider {
  --percent: 0;
  --display-tip: 'none';

  height: 30px;
  position: relative;
  margin: 10px;
  margin-left: 15px;
  @include blockSelection();

  &-prev,
  &-next {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    position: absolute;
    top: 4px;
  }

  &-prev {
    left: -17px;
  }

  input {
    width: 100px;
    height: 25px;
    top: -25px;
    text-align: center;
    border: none;
    position: absolute;
    left: calc(var(--percent) * 1% - 47px);
    display: var(--display-tip);
    background: none;
    outline: none;
    pointer-events: none;
  }

  &:hover input {
    display: unset;
  }

  &-bg {
    display: inline-block;
    width: 75%;
    height: 2px;
    background: $muted;
    position: relative;

    &::before {
      content: '';
      width: calc(var(--percent) * 1%);
      height: 2px;
      position: absolute;
      left: 0;
      background: $common;
    }
  }

  &-thumb {
    position: relative;
    left: calc(var(--percent) * 1%);

    margin-top: -4px;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background: $highlight;
    cursor: pointer;
  }
}

@mixin range {
  -start: 0;
  --percent: 0;
  --display-tip: 'none';

  height: 30px;
  margin: 10px;
  margin-left: 15px;
  @include blockSelection();

  &-prev,
  &-next {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: inline-block;
  }

  &-next {
    display: inline-block;
  }

  input[name$='left'] {
    width: 100px;
    height: 25px;
    top: -25px;
    text-align: center;
    border: none;
    position: absolute;
    left: calc(var(--start) * 1% - 50px);
    display: var(--display-tip);
    background: none;
    outline: none;
    pointer-events: none;
  }

  input[name$='right'] {
    width: 100px;
    height: 25px;
    top: -25px;
    text-align: center;
    border: none;
    position: absolute;
    left: calc(var(--percent) * 1% - 50px);
    display: var(--display-tip);
    background: none;
    outline: none;
    pointer-events: none;
  }

  &:hover input {
    display: unset;
  }

  &-bg {
    display: inline-block;
    width: 75%;
    height: 2px;
    background: $muted;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      width: calc((var(--percent) - var(--start)) * 1%);
      height: 2px;
      position: absolute;
      left: calc(var(--start) * 1%);
      background: $common;
    }
  }

  .form-slider-thumb {
    padding: 0;
  }

  .form-slider-thumb:first-of-type {
    &::before {
      content: '\25b6';
      position: absolute;
      top: 0;
    }

    width: 20px;
    height: 20px;
    position: relative;
    left: calc(var(--start) * 1% - 12px);

    margin-top: -8px;
    background: none;
    cursor: pointer;
  }

  .form-slider-thumb:last-of-type {
    &::before {
      content: '\25c0';
      position: absolute;
      top: 0;
    }
    width: 20px;
    height: 20px;
    position: relative;
    left: calc(var(--percent) * 1% - 2px);

    margin-top: -20px;
    background: none;
    cursor: pointer;
  }
}

@mixin markdown {
  .menu {
    display: flex;
    flex-wrap: wrap;
    & > li {
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
  &-input {
    @include input;
    height: 500px;
  }
}

@mixin group {
  padding: 10px;
  border: 1px solid $highlight;

  .group-title {
    margin: 0;
    margin-bottom: 10px;
  }
}

@mixin notPrintedChars {
  color: $muted;
  font-size: 70%;
}

@mixin blockSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
