$common: var(--common-color);
$bg: var(--bg-color);
$muted: var(--muted-color);
$highlight: var(--highlight-color);

$error: var(--error-color);
$success: var(--success-color);
$info: var(--info-color);

$border-width: var(--border-width);
$border-radius: var(--border-radius);

:root {
  --common-color: gray;
  --bg-color: white;
  --muted-color: lightgray;
  --highlight-color: black;

  --error-color: red;
  --success-color: green;
  --info-color: cyan;

  --border-width: 1px;
  --border-radius: 2px;
}
